# Copyright (c) 2025 Frank David Martínez Muñoz <mnesarco>
# SPDX-License-Identifier: MIT

config SHIELD_MARZ44W_LEFT
	def_bool $(shields_list_contains,marz44w_left)

config SHIELD_MARZ44W_RIGHT
	def_bool $(shields_list_contains,marz44w_right)

config SHIELD_MARZ44W_DONGLE
	def_bool $(shields_list_contains,marz44w_dongle)