/*
 * Copyright (c) 2025 Frank David Martínez Muñoz <mnesarco>
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define LA_MINUS SLASH
#define LA_UND LS(LA_MINUS)

&caps_word {
    continue-list = <LA_UND LA_MINUS>;
};

#include "marz44w_keymap.dtsi"